
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer{
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 20;
}

.value {
  padding: 10px;
  font-size: 120px;
  color: tomato;
  background-color: #212121;
  border: solid;
  border-radius: 30px;
  border-color: tomato;
}

.label {
  padding: 10px;
  font-size: 25px;
  color: tomato;
  border: solid;
  border-radius: 7px;
  border-color: #000000;
}